Flask==2.3.2
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.1.1
WTForms==3.0.1
email-validator==2.0.0
python-dotenv==1.0.0
reportlab==4.0.4
gunicorn==21.2.0
flask-limiter==3.9.0
flask-mail==0.10.0
flask-babel==4.0.0
pandas==2.2.3
requests==2.32.3
Werkzeug==2.3.0